body {
    margin: 20px;
    font-family: Georgia, Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 25px;
}
.avatar:hover,
.avatar:focus,
.avatar:active {
    transform: scale(1.1);
}


.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #cdb4db;
    color: #03045e;
    border-bottom: 6px solid #d8cefe;
        
   /* colour palette from Coolers.co */
}

.border-blue {
    border: 1px dotted blue;
}

